---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="bg-[#1b1b1d]">
    <Header />
    <main class="w-full md:w-[800px] mx-auto ">
      <div class="h-screen pb-28 place-content-center">
        <div class="flex justify-center place-items-center space-x-4">
          <img class="w-40" src="z.svg" alt="" />
          <h1 class="text-8xl text-white">Zig.lat</h1>
        </div>
      </div>
    </main>
    <Footer />
  </body>
</html>
