---
const today = new Date();
---

<footer class="pt-8 px-1 pb-24 bg-[#242526] text-white text-center">
  &copy; {today.getFullYear()} Zig.lat. All rights reserved.
  <div class="flex justify-center gap-1 mt-2">
    <a
      class="no-underline text-gray-400 hover:text-gray-200"
      href="https://github.com/ziglatino/zig-lat"
      target="_blank"
    >
      <img src="/github.svg" class="w-10" alt="github" />
    </a>
  </div>
</footer>
