---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="m-0 py-5 px-4  shadow-gray-500 bg-[#242526] border-b-[0.1px] border-gray-500">
  <nav class="flex items-center justify-around">
    <a class="flex items-center" href="/">
      <img class="w-10 h-10 mr-1" src="/z.svg" alt="" />
      <span class="text-white">{SITE_TITLE}</span>
    </a>
    <div class="internal-links flex items-center space-x-6">
      <HeaderLink class="text-white" href="/">Home</HeaderLink>
      <HeaderLink class="text-white" href="/guia">Guía</HeaderLink>
      <!-- <HeaderLink class="text-white" href="/aprende">Aprende</HeaderLink> -->
      <!-- <HeaderLink class="text-white" href="/about">About</HeaderLink> -->
      <div class="social-links flex items-center space-x-6">
        <a class="w-10" href="https://discord.gg/jKCuJChF" target="_blank">
          <img class="hover:rotate-12 transition-all" src="/discord.svg" alt="">
        </a>
        <a class="w-8" href="https://github.com/ziglatino/zig-lat" target="_blank">
          <img class="hover:rotate-12 transition-all" src="/github.svg" alt="">
        </a>
      </div>
    </div>
  </nav>
</header>
